#body{
    border: 0cap;
    background-color: rgb(108, 112, 137);
    margin: 0%;
    
}
#back{
    background: linear-gradient(to right,rgb(134, 150, 229),rgb(106, 131, 199));
    margin-left: 30%;
    border: 10px black solid;
    margin-right: 30%;
    padding-bottom: 2%;
    text-align: center;

}
#task_button:hover{
    background-color: rgb(131, 133, 134);
}
.inputc{
    margin-left: 10%;
    margin-right: 30px;
}
.cross{
    position: fixed;
    margin-left: 34%;
}
.cross:hover{
    cursor: pointer;
}

.text{
    max-width: 400px;
    font-size: large;
    overflow: hidden;
}
.inputc{
    cursor: pointer;
}